mixin NotFound()
    div(class="text-center container pt-5")
        h2(Class="text-dark p-5") Opps algo salio mal  :(
        h3 Intenta denuevo
    div(class="container text-center py-4")
        a(class="btn btn-success mx-auto" href="#home") 
            h4(Class="text-white") Start again