include includes/Nav.pug
include includes/Form.pug
include includes/FormUpdate.pug
include includes/Table.pug
include includes/Modal.pug
include includes/NotFound.pug

+Nav()
+Modal()
<!--Router-->
div(class="container" )
    <!--Home-->
    div(class="row py-4 " id="home")
        <!--Task form-->
        div(class="col-md-4" id="form")
            +Form()
        
        <!--Task table-->
        div(class="col-md-8")
            +Table()

    <!--UpdateTask-->
    div(class="row py-4 d-none" id="updateTask")
        div(class="col-md-5 mx-auto")
            +FormUpdate()

    <!--404 Not Found-->
    div(class="row py-4 d-none" id="notFound")
        div(class="col-md-7")
            img.img-fluid(src='./img/404.jpg' alt='Responsive image')
        div(class="col-md-5 pt-5")
            +NotFound()
        